.pwOutput {
  padding: 1rem;
}

.pw {
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  height: 70px;
  width: 100%;
  position: relative;
  padding: 1rem;
  overflow: auto;
}
