.formControl {
  background: rgba(255, 255, 255, 0.08);
  position: relative;
  color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  padding: 10px 25px;
}

.checkbox label::before,
.checkbox label::after {
  content: "";
  cursor: pointer;
  transform: translateY(-50%);
}

.checkbox label::before,
.checkbox label::after,
input[type="number"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.checkbox label::before {
  width: 50px;
  background: rgba(214, 214, 214, 0.434);
}

.checkbox label::before,
input[type="number"] {
  border-radius: 30px;
  height: 30px;
}

.checkbox label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}

.checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox input:checked + label:before {
  background: #5d68e2;
}

.checkbox input:checked + label:after {
  right: 14px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 0;
  max-width: 100px;
  font-size: 16px;
  padding: 0 7px;
}
